anyio
appdirs
argon2-cffi
async-generator
attrs
autograd
autograd-gamma
Babel
backcall
black
bleach
cached-property
certifi
cffi
chardet
click
contextvars
cryptography
cycler
dataclasses
decorator
defusedxml
descartes
entrypoints
feather-format
flake8
future
h5py
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lifelines
llvmlite
MarkupSafe
matplotlib
mccabe
mistune
mizani
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
palettable
pandas
pandocfilters
parso
pathspec
patsy
pexpect
pickleshare
Pillow
plotnine
prometheus-client
prompt-toolkit
ptyprocess
pyarrow
pycodestyle
pycox
pycparser
pyflakes
Pygments
pyOpenSSL
pyparsing
pyreadr
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
scikit-learn
scipy
Send2Trash
six
sklearn-pandas
sniffio
statsmodels
terminado
testpath
threadpoolctl
toml
torch
torchdiffeq
torchtuples
torchvision
tornado
tqdm
traitlets
typed-ast
typing-extensions
urllib3
wcwidth
webencodings
widgetsnbextension
zipp
